:root {
  --brand-color-active: #2196f3;
  --brand-color-body-backround: #ffffff;
  --brand-color-body-text: #212121;
  --brand-color-description-font: #757575;
  --brand-color-h1-text: #ffffff;
  --brand-color-heder-footer: #2f303a;
  --brand-color-headlines-font: #212121;
  --brand-color-img-background: #ffffff;
  --brand-color-logo-studio: #ffffff;
  --brand-color-logo-web: #2196f3;
  --brand-color-navigation-menu-text: #212121;
  --brand-color-order-service-text: #ffffff;
  --brand-color-order-button-background: #2196f3;
  --brand-color-ourteam-bg: #f5f4fa;
  --brand-color-text-body: #212121;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--brand-color-body-backround);
  color: var(--brand-color-body-text);
}

.filter-button-list {
  list-style: none;
}

.filter-button-all {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  width: 121px;
  height: 38px;
  background-color: var(--brand-color-ourteam-bg);
  border-radius: 4px;
  border-color: var(--brand-color-ourteam-bg);
  cursor: pointer;
}

.filter-button-all:is(:hover, :focus, :active) {
  background-color: var(--brand-color-active);
  color: var(--brand-color-img-background);
  border-color: var(--brand-color-active);
}

.filter-button-apps {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  width: 114px;
  height: 38px;
  left: 740px;
  top: 174px;
  background-color: var(--brand-color-ourteam-bg);
  border-radius: 4px;
  border-color: var(--brand-color-ourteam-bg);
  cursor: pointer;
}

.filter-button-apps:is(:hover, :focus, :active) {
  background-color: var(--brand-color-active);
  color: var(--brand-color-img-background);
  border-color: var(--brand-color-active);
}

.filter-button-design {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  width: 91px;
  height: 38px;
  left: 862px;
  top: 174px;
  background-color: var(--brand-color-ourteam-bg);
  border-radius: 4px;
  border-color: var(--brand-color-ourteam-bg);
  cursor: pointer;
}

.filter-button-design:is(:hover, :focus, :active) {
  background-color: var(--brand-color-active);
  color: var(--brand-color-img-background);
  border-color: var(--brand-color-active);
}

.filter-button-marketing {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  width: 121px;
  height: 38px;
  left: 961px;
  top: 174px;
  background-color: var(--brand-color-ourteam-bg);
  border-radius: 4px;
  border-color: var(--brand-color-ourteam-bg);
  cursor: pointer;
}

.filter-button-marketing:is(:hover, :focus, :active) {
  background-color: var(--brand-color-active);
  color: var(--brand-color-img-background);
  border-color: var(--brand-color-active);
}

.filter-button-pages {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  width: 93px;
  height: 38px;
  left: 639px;
  top: 174px;
  background-color: var(--brand-color-ourteam-bg);
  border-radius: 4px;
  border-color: var(--brand-color-ourteam-bg);
  cursor: pointer;
}

.filter-button-pages:is(:hover, :focus, :active) {
  background-color: var(--brand-color-active);
  color: var(--brand-color-img-background);
  border-color: var(--brand-color-active);
}

.footer-bg {
  background-color: var(--brand-color-heder-footer);
}

.headline-text {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--brand-color-h1-text);
}

.index-footer-address-street-name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--brand-color-img-background);
}

.index-footer-email-phone-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.index-footer-email-phone-link:is(:hover, :focus, :active) {
  color: var(--brand-color-active);
}

.index-footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-text {
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-studio {
  color: var(--brand-color-logo-studio);
}

.logo-web {
  text-decoration: none;
  color: var(--brand-color-logo-web);
}

.main-section-one-bg {
  background-color: var(--brand-color-heder-footer);
}

.navigation-menu-link-agency {
  width: 53px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--brand-color-navigation-menu-text);
}

.navigation-menu-link-agency:is(:hover, :focus, :active) {
  color: var(--brand-color-active);
}

.navigation-menu-link-contact {
  width: 51px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--brand-color-navigation-menu-text);
}

.navigation-menu-link-contact:is(:hover, :focus, :active) {
  color: var(--brand-color-active);
}

.navigation-menu-link-portfolio {
  width: 58px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--brand-color-navigation-menu-text);
}

.navigation-menu-link-portfolio:is(:hover, :focus, :active) {
  color: var(--brand-color-active);
}

.navigation-list {
  list-style: none;
}

.our-advantages-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--brand-color-description-font);
}

.our-advantages-headline-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color-headlines-font);
}

.our-advantages-list {
  list-style: none;
}

.order-button {
  width: 200px;
  height: 50px;
  background-color: var(--brand-color-order-button-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.order-service {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height, or 188% */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--brand-color-order-service-text);
}

.our-team-bg {
  background-color: var(--brand-color-ourteam-bg);
}

.our-team-card-bg {
  width: 270px;
  height: 368px;
  background-color: var(--brand-color-img-background);
}

.our-team-headline-text {
  font-style: normal;
  font-size: 36px;
  line-height: 1.2;
  color: var(--brand-color-headlines-font);
  letter-spacing: 0.03em;
}

.our-team-list {
  list-style: none;
}

.our-team-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color-headlines-font);
}

.our-team-position {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  /* identical to box height */
  color: var(--brand-color-description-font);
  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio-footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration-line: none;
}

.portfolio-footer-email-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
  text-decoration-line: none;
  color: rgba(255, 255, 255, 0.6);
}

.portfolio-footer-email-link:is(:hover, :focus, :active) {
  color: var(--brand-color-active);
}

.portfolio-footer-phone-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.portfolio-footer-phone-link:is(:hover, :focus, :active) {
  color: var(--brand-color-active);
}

.project-containers-bg {
  box-sizing: border-box;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;
  background-color: var(--brand-color-img-background);
  border: 1px solid #eeeeee;
}

.project-description-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: var(--brand-color-description-font);
}

.project-list {
  list-style: none;
}

.project-title-headline-text {
  font-style: normal;

  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
}

.top-bar-email {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: var(--brand-color-description-font);
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}

.top-bar-email:is(:hover, :focus, :active) {
  color: var(--brand-color-active);
}

.top-bar-phone {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: var(--brand-color-description-font);
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}

.top-bar-phone:is(:hover, :focus, :active) {
  color: var(--brand-color-active);
}

.what-we-do {
  font-style: normal;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--brand-color-headlines-font);
}

.what-we-do-list {
  list-style: none;
}
